<!DOCTYPE html>
<html lang="en">
<head>
  <title>Handwriting OCR App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid" style="background-color:#D2B4DE">

<div>
  <nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('main')}}" style="color: white">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color: white">About</a>
    </li>
  </ul>
</nav>
<div style="margin-top: 3%">
<p>This website will allow users to upload images of handwritten text, and the server will return a string of text of what it thinks it says through a handwriting, optical character recognition, convolutional neural network.
  On Client-side, page will upload images to the server, then output the results of the server’s analysis of the image.
  By using Tesseract and OpenCV to detect distinct blocks of text, we can output the text for each block separately.
  Client-side functionality could potentially be expanded by capturing photos from the user’s webcam, or even by saving handwriting drawn on the page.</p>
</div>
</div>

</body>
</html>
