<!DOCTYPE html>
<html lang="en">
<head>
  <title>Handwriting OCR App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid" style="background-color:#D2B4DE">

<div>
  <nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav" style="">
    <li class="nav-item">
      <a class="nav-link" href="#" style="color: white">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('about')}}" style="color: white">About</a>
    </li>
  </ul>
</nav>
<div style="margin-top: 3%">
	<h2><p>Please select image</p></h2>
</div>
<div>
	<form action = "http://localhost:5000/upload" method = "POST" enctype = "multipart/form-data">
		<input type="file" id="file" name="file" class="btn btn-default">
		<input type="submit" value="Upload" class="btn btn-default">
    </form>
</div>
</div>

</body>
</html>
